body {

    background-color: black;
    
}

.navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.offcanvas {

    background-color: rgb(131, 125, 125);
}

.nav-item {

    font-size: larger;
}

.nav-link {

    color: white;

}

nav ul li a:hover {
    
    background-color: white;
    border-radius: 10px;
    
}

.mb-3 {

    text-align: center;
    
}


.mb-3, .text-center {
    color: white;
    
}

 



footer {
    
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-container {
    margin-top: 10px;
}

.social-button img {
    height: 30px;
    width: 30px;
}

